<div class="start">
    <form name="city_form" action="/weather">
        <div class="field_text">
            <div class="text">Имя города: </div>
            <input class="form_field" name="city">
        </div>
        <div class="button form_button" onclick="document.forms['city_form'].submit();">
            <div class="text">LesGO</div>
        </div>
    </form>
    <div name="guess_form">
        <div class="button guess_button" onclick="getIPFromAmazon();">
            <div class="text">Хде я?</div>
        </div> 
    </div>
</div> 