<div class="answer">
    <div class="row"><div class="bo">Город:&nbsp;</div><div class="text">{{ .city_name }}</div></div>
    <div class="row"><div class="bo">Температура:&nbsp;</div><div class="text">{{ .temp }} °C</div></div>
    <div class="row"><div class="bo">Ощущается как:&nbsp;</div><div class="text">{{ .flike }} °C</div></div>
    <div class="row"><div class="bo">Давление:&nbsp;</div><div class="text">{{ .pressure }} гПа</div></div>
    <div class="row"><div class="bo">Влажность:&nbsp;</div><div class="text">{{ .humidity }} %</div></div>
    <div class="row"><div class="bo">Скорость ветра:&nbsp;</div><div class="text">{{ .wspeed }} м/с</div></div>
</div>